* {
	font-family: Open Sans, sans-serif;
	box-sizing: border-box;
}
body {
	margin: 0;
}
.fa {
	display: inline-block;
    font-size: 10px;
    font-style: normal;
    font-family: FontAwesome;
    text-rendering: auto;
    
}
h1 {
	font-size: 2em;
	margin: .67em 0;
	text-align: center;
}
a:visited {
	color: blue;
}
a {
	text-decoration: none;
}

/*  ------ First Nav Bar -------  */

.nav-sticky {
	display: grid;
	grid-template-columns: 2fr 1fr;
	top: 0;
	padding: .5em 0;
	padding
	margin: 0;
	z-index: 100;
	width: 100%;
	transition: all 1s;
}

/*  Second Sticky Nav  */

.nav-sticky-v2 {
	display: grid;
	grid-template-columns: 2fr 1fr;
	background-color: #333333;
	position: fixed;
	top: 0;
	padding: .5em 0;	
	margin: 0;
	z-index: 100;
	width: 100%;
}
.nav-list {
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	padding: 0;
	margin: 1em 0;
	font-size: 1.3em;
}
.mobile-nav-icon {
	display: none;
	justify-self: end;
}
.mobile-nav-icon i {
	color: white;
}
.nav-sticky-v2 .nav-list {
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	padding: 0;
	margin: 0.75em 0;
	font-size: 1.2em;
	color: white;
}
.nav-list a {
	color: white;
}
.nav-sticky-v2 a {
	color: white;
}
.nav-sticky-v2 a:hover {
	box-shadow: 0 2px #4d243d;
}
.nav-list-items:hover {	
	box-shadow: 0 2px white;
}
.navLogo {
	font-size: 1.8em;
	display: inline-block;	
	padding: .3em;
	margin: .4vh 0 .4vh 2vh;
	cursor: pointer;
	color: white;
	align-self: center;	
}
.navLogo img {
	height: 1em;
	width: 3em;
}
.nav-sticky-v2 .navLogo {
	font-size: 1.3em;
	display: inline-block;	
	padding: .2em;
	margin: .4vh 0 .4vh 2vh;
	cursor: pointer;
	color: white;
}
.nav-sticky-v2 .navLogo img {
	height: 1em;
	width: 3em;

}
.nav-active {
	text-decoration: none;
}

/*  Mobile Nav Icon   */

.mobile-nav-icon {
	cursor: pointer;
	display: none;	
}
#menu-icon {
	font-size: 3vh;
}

/*    Mobile Nav Pop Up */

.mobile-nav {
	display: none;
	position: fixed;
	width: 100%;
	top: 0px;
	z-index: 100;
}
.mobile-list {
	background: #000;
	padding-top: 0px;
	z-index: 100;
    margin: 0px;
    list-style-type: none;
    font-family: Open Sans, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    opacity: .85;
}
.nav-list-mobile {
	text-decoration: none;
	color: white;
	padding: 8px 0px;
    font-size: 16px;
    border-bottom: solid 1px rgb(211, 4, 38, 0.8);
    margin-left: -6vh;
}
#mobile-contact {
	border-bottom: none;
}

/*  ------  Header  -------  */

.header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(laptop.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;	
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.header-text {
	margin: 1em 0 0.2em 0;
	max-width: 80%;
}
.header-main-text {
	font-size: 2.8em;
	font-family: Open Sans;
	font-weight: 300;
	color: white;
}
.header-additional-text {
	font-size: 1.7em;
	line-height: 1.4em;
	margin: 5% 0 12% 0;
	color: white;
	text-align: center;
}

/* -- Social Section -- */

.social-container {
	display: flex;
	margin-bottom: 1em;
	margin-top: 1em;
}
.social {
	font-size: 2em;
}
.learn-more {
	font-size: 1.2em;
	margin-top: 8%;
	margin-bottom: 5%;
	display: inline-block;
}
h3 {
	display: block;
	font-size: 1.2em;
}
.social-links {
	display: flex;
	justify-content: center;
	margin-bottom: 1em;
	margin-top: 1em;
	text-decoration: none;
}
.fas, .fab {
	font-size: 1.3em;
	margin: 0 .5em;
	text-decoration: none;
	color: white;
}
.social a {
	text-decoration: none;
}

/* Skills Section  */

.skills-container {
	display: block;
}
.skills-section {
	width: 100%;
	padding-top: 30vh;
	padding-bottom: 7vh;
	background-color: #efefef;
}
.section-header {
	font-size: 2.5em;
	padding: .2em;
	text-align: center;

}
#section-header-skills {
	color: black;
}
.skills-section p {
	margin: 1em auto;	
	padding: 0 5%;
	color: black;
	text-align: center;
	font-size: 1.5em;
}
.skills {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	text-align: center;
	padding-left: 15%;
	padding-right: 15%;
	margin: 0 auto;
	font-size: 3.5em;
}
.skills li {
    color: #565656;
    width: 5em;
    padding: .5em .5em;
    font-weight: 700;
    max-width: 200px;
    
}
.slideUp {
	opacity: 0;
	transition:all .6s;
	transform:translateY(-30%) scale(0.85);
}
.activeSkills {
	opacity: 1;
	transform:translateY(0%) scale(1);
}

/* --  Projects Section  --  */

.project-section {	
	background-color: #fff;
	padding-top: 5vh;
	padding-bottom: 3vh;
	color: black;
}
.projects-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
	margin: 0 auto;
	max-width: 1000px;
}
.ind-project {
	display: grid;
	justify-self: center;
	background-color: #fff;
	max-width: 400px;
	margin: 2.5%;
	padding-bottom: 1em;
	border: 1px solid grey;
	box-shadow: 3px 3px 5px 2px rgba(0,0,0,.1);
	opacity: 0;
	line-height: 1.4em;
}
.projects {
	opacity: 0;
	transition:all .7s;
	transform: scale(0.85);
}
.projectActive {
	opacity: 1;
	transform: scale(0.85);
}
.project-img-container {
	width: 100%;
	height: 20vw;
	overflow: hidden;
}
.project-photo {
	height: 100%;
	width: 100%;
}
.ind-project p {
	padding: 0 8%;
}
.project-img-container p {
	text-align: center;
}
.project-img-container h1 {
	text-align: center;
}
.link-container {
	display: flex;
	justify-content: space-around;
}

/* --      Other Section  -- */

.other-section {
	background-color: #efefef;
	padding-top: 5vh;
	padding-bottom: 3vh;
}
.other-project-group {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	align-items: center;
	margin: 0 auto;
	max-width: 1000px;
}
.project {
	background-color: #fff;
	padding: 0;
	width: 85%;
	max-width: 900px;
	display: grid;
	grid-template-columns: 2fr 8fr;
	justify-self: center;
	margin: 1em;
	border: 1px solid #ededed;
	box-shadow: 3px 3px 5px 2px rgba(0,0,0,.1);	
}
.project img {
	max-width: 200px;
	max-height: 200px;
}
.project-text {
	padding: 0 1em;
	line-height: 1.5em;
	text-align: left;
}

/* -- About Section -- */

.about-section {
	display: grid;
	grid-template-rows: 1fr 2fr 2fr;
	background: #374c7a;
	padding: 10vh;
	color: white;
}
.about-section img {
	align-self: center;
	justify-self: center;
	width: 30%;
	height: auto;
}
.summary {
	text-align: left;
	align-self: center;
	line-height: 1.5em;
	max-width: 750px;
	margin: 0 auto;
}

/* ---   Footer --- */
.footer {
	background-color: #333333;
	padding-top: 1em;
	padding-bottom: .5em;
	color: #fff;
}
.social-footer {
	display: flex;
	justify-content: center;
}
.footer p {
	text-align: center;
}

/* Contact Form  */

.form-body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(laptop.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0;
}
.form-container {
	display: grid;
	grid-template-rows: 1fr;
	justify-content: center;
	margin: 10vh;	
}
.form-text {
	color: white;
}
.pure-group {
	border: none;
	display: grid;
	grid-template-rows: 1fr;
	color: white;

}
.form-title {
	font-size: 28px;
	color: white;
	text-align: center;
}
label {
	margin-bottom: 2vh;
}
aside {
	padding-left: 12px;
}
#message {
	max-width: 75vh;
}
button {
	margin-top: 6vh;
	margin-left: 35%;
	width: 130px;
	height: 55px;
	background-color: #7c001b;
    border: none;
    color: white;
    padding: 15px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 30px;
   }
button:hover {
	box-shadow: 0 12px 16px 0 rgba(184, 185, 186,0.24), 0 17px 50px 0 rgba(184, 185, 186,0.19);
	background-color: #ff0037;
}

/*       Media Queries     */

@media (max-width: 1230px) {
	.nav-list li {
		padding: 0 2em;
	}	
}

@media (max-width: 1023px) {  /*iPad in landscape mode has 1024px */
	.nav-list li {
		padding: 0 1em;
	}
	.skills {
		font-size: 3.9em;
	}
	.about-section img {
		width: 50vh;
		padding: 5vh;
	}
	.summary {
		font-size: 1.2em;
	}
	.projects-container {
		grid-gap: 0;
	}
	.ind-project p {
		font-size: 1.2em;
	}
	.link-container {
		font-size: 1.2em;
	}
}

@media (max-width: 767px) { /* phones smaller than iPad */
	.nav-list {
		font-size: 1.7em;
	}
	.nav-sticky-v2 .nav-list {
		font-size: 1.7em;
	}
	.nav-sticky-v2 .navLogo img {
	    height: 1.4em;
	    width: 3.5em;
	}
	.header-main-text {
		font-size: 3em;
	}
	.header-additional-text {
		font-size: 1.9em;
	}
	.fas .fab {
		font-size: 2em;
	}
	.section-header {
		font-size: 3em;
	}
	.skills-section p {
		font-size: 1.9em;
	}
	.skills {
		font-size: 5.5em;
	}
}

@media (max-width: 726px) { /* phones smaller than iPad (max-width: 650px)  */
	.nav-sticky {
		padding-top: 0;
		margin-top: -5vh;
	}
	.nav-list {
		grid-template-columns: 1fr  1fr 1fr 1fr;
		padding: .5em 1em;
		font-size: 1.5em;
	}
	.nav-sticky-v2 {
		padding-top: 0;
		margin-top: 0 !important;
	}
	.nav-sticky-v2 .nav-list {
		grid-template-columns: 1fr  1fr 1fr 1fr;
		padding: .5em 1em;
		font-size: 1.5em;
	}
	.header {
		margin-bottom: -5vh;
	}
	.header-text {
		margin-top: -5vh;
	}
	.header-main-text {
		font-size: 3em;
		padding: 0 0 40px 0;
	}
	.header-additional-text {
		font-size: 1.7em;
	}
	.fas .fab {
		font-size: 2em;
	}
	.section-header {
		font-size: 2.7em;
	}
	.skills-section {
		padding-top: 35vh;
	}
	.skills-section p {
		font-size: 1.7em;
	}
	.skills {
		font-size: 3.9em;
		padding-right: 0;
		padding-left: 0;
	}
	.projects-container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0px;
	}
	.project-img-container {
		height: 50vw;
	}
	.project-img-container h1{
		font-size: 4em;
	}
	.ind-project {
		margin: -2.5vh;
	}
	.ind-project p {
		font-size: 1.1em;
	}
	.link-container a {
		font-size: 1.5em;
	}
	.project {
		width: 100%;
	}
	.about-section {
		padding: 2vh;
	}
}

@media (max-width: 703px) {
	.nav-sticky {
		padding-top: 0;
		margin-top: -7vh;
	}
	.navLogo {
		margin-left: 2vh;
	}	
	.nav-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: .5em 0;
		font-size: 1.4em;		
	}
	.nav-sticky-v2 {
		padding-top: 0;
		margin-top: 0 !important;
		max-height: 12vw;
	}
	.nav-sticky-v2 .navLogo {
		margin-left: 2vh;
	}
	.nav-sticky-v2 .nav-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: .5em 1em;
		font-size: 1.4em;
	}
	.header {
		margin-bottom: -5vh;
	}
	.header-text {
		margin-top: -5vh;
	}
	.header-main-text {
		font-size: 3em;
		margin: -20px;
		padding: 0 0 40px 0;
	}
	.header-additional-text {
		font-size: 1.7em;
	}
	.fas .fab {
		font-size: 2em;
	}
	.section-header {
		font-size: 3em;
	}
	.skills-section {
		padding-top: 29vh;
	}
	.skills-section p {
		font-size: 1.7em;

	}
	.skills {
		font-size: 3.9em;
		padding-right: 0;
		padding-left: 0;
	}
	.projects-container {
		display: grid;
		grid-template-columns: 1fr;
	}
	.project-img-container {
		height: 80vw;
	}
	.project-img-container h1{
		font-size: 4em;
	}
	.ind-project {
		max-width: 65vh;
	}
	.ind-project p {
		font-size: 1.1em;
	}
	.link-container a {
		font-size: 1.5em;
	}
	.project {
		width: 100%;
	}
	.about-section {
		padding: 2vh;
	}
	.about-section img {
		width: 67%;
	}
}	

@media (max-width: 592px) {
	.nav-sticky {
		padding-top: 0;
		margin-top: -7vh;
	}
	.navLogo {
		margin-left: 0;
	}
	.navLogo img {
		height: 1em;
		width: 3em;
	}
	.nav-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: .5em 0em;
		font-size: 1.2em;
	}
	.nav-sticky-v2 {
		padding-top: 0;
		margin-top: 0 !important;
		max-height: 12vw;
	}
	.nav-sticky-v2 .navLogo {
		margin-left: -0;
	}
	.nav-sticky-v2 .nav-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: .5em 0em;
		font-size: 1.2em;
	}
	.header {
		margin-bottom: -5vh;
	}
	.header-text {
		margin-top: -5vh;
	}
	.header-main-text {
		font-size: 2.5em;
		margin: -20px;
		padding: 0 0 40px 0;
	}
	.header-additional-text {
		font-size: 1.7em;
		margin: 0;
	}
	.fab {
		font-size: 1.6em;
	}
	.section-header {
		font-size: 2.7em;
	}
	.skills-section {
		padding-top: 29vh;
	}
	.skills-section p {
		font-size: 1.6em;
	}
	.skills {
		font-size: 4em;
		padding-right: 0;
		padding-left: 0;
	}
	.project {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.projects-container {
		display: grid;
		grid-template-columns: 1fr;
	}
	.project-img-container {	
		height: 50vw;
	}
	.project-img-container h1{
		font-size: 4em;
	}
	.project-text {
		font-size: 1.3em;
		text-align: center;		
	}
	.ind-project p {
		font-size: 1.4em;
	}
	.link-container a {
		font-size: 1.5em;
	}
	.project img {
		width: 35vh;
    	height: 35vh;
    	padding-top: 3vh;
	}
	.about-section {
		padding: 2vh;
	}
}	

@media (max-width: 517px) {  /* will apply to screens 480 and smaller (small phones) */
	.nav-sticky {
		padding-top: 0;
		margin-top: -7vh;
	}
	.navLogo {
		margin-left: 0;
	}
	.navLogo img {
		height: 1em;
		width: 3em;
	}
	.navList {
		display: none !important;
	}
	.nav-list {	
		display: none;
		padding-top: 2vh;
    	margin-top: 0;
	}
	.navList {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.nav-list a {
	    color: white;
	    font-weight: 200;
	}
	.nav-list li {
    	padding: .2em 1em;
	}
	.mobile-nav-icon {
		display: inline-block;
		align-self: center;
    	justify-self: end;
    	margin-right: 3vh;
	}
	.nav-sticky-v2 {
		padding-top: 0;
		margin-top: 0 !important;
		max-height: 15vh;
	}
	.nav-sticky-v2 .navLogo {
		margin-left: 0;
		margin-top: 1vh;
	}
	.nav-sticky-v2 .nav-list {
		display: none;
		padding-top: 2vh;
    	margin-top: 0;
	}
	.nav-sticky-v2 .navList {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	.nav-sticky-v2 .nav-list a {
	    color: white;
	    font-weight: 200;
	}
	.nav-sticky-v2 .nav-list li {
    	padding: .2em 1em;
	}
	.nav-sticky-v2 .mobile-nav-icon {
		display: inline-block;
		align-self: center;
    	justify-self: end;
    	margin-right: 3vh;
	}
	.header {
		margin-bottom: -5vh;
	}
	.header-text {
		margin-top: -5vh;
	}
	.header-main-text {
		font-size: 2.6em;
		margin: -20px;
		padding: 0 0 40px 0;
	}
	.header-additional-text {
		font-size: 1.4em;
	}
	.fas .fab {
		font-size: 2em;
	}
	.section-header {
		font-size: 2.2em;
	}
	.skills-section {
		padding-top: 22vh;
	}
	.skills-section p {
		font-size: 1.1em;
	}
	.skills {
		font-size: 3.8em;
		padding-right: 0;
		padding-left: 0;
	}
	.projects-container {
		display: grid;
		grid-template-columns: 1fr;
	}
	.project-img-container {
		height: 80vw;
	}
	.project-img-container h1{
		font-size: 4em;
	}
	.ind-project p {
		font-size: 1.1em;
	}
	.link-container a {
		font-size: 1.5em;
	}
	.project {
		width: 100%;
	}
	.about-section {
		padding: 2vh;
	}
	#about-header {
		margin-bottom: 1vh;
		padding-top: 7vh;
	}
}

@media (max-width: 360px)  {
	.header {
		margin: 0;
		padding: 0;
	}
	.nav-sticky {
		padding-top: 0;
		padding-left: 0;
		padding-right: 0;
		margin-top: -7vh;
		margin-left: 0;
		margin-right: 0;
	}
	.navLogo {
		margin-left: 0;
	}
	.navLogo img {
		height: 1.3em;
		width: 3.3em;
	}
	.nav-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: .5em 0em;
		font-size: 15px;
	}
	.nav-list li {
		padding: 0;
		margin: 0;
	}
	.nav-sticky-v2 {	
		padding-left: 0;
		padding-right: 0;	
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		margin-top: 0 !important;
		max-height: 15vh;
	}
	.nav-sticky-v2 .navLogo {
		margin-left: 0;
	}
	.nav-sticky-v2 .nav-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		padding: .5em 0em;
		font-size: .9em;
	}
	.project img {
		height: 25vh;
		width: 25vh;
	}

	@media (max-width: 208px) {
		.project img {
			display: none;
		}
	}